<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
  </head>
  <body>
    <h1>It's Codebreaker Game</h1>
    <div id = "container">
      <p>Start new game here!</p>
      <form method = "post">
        <input type = "text" name = "name">
        <input type = "text" name = "attempt_count">
        <input type = "submit" value = "Start">
      </form>
    </div>
    <div id = "scores">
      
    </div>
  </body>
</html>