<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
    <div id="container">
      <h1>It's Codebreaker Game</h1>
      <!-- <p><%= get_cookies %></p> -->
      <!-- <p><%= get_cookie("game") %></p> -->
      <div id="fields">
        <form method="post" action="/start">
          <h3>Start new game here!</h3>
          <p><label for="name">Your name</label></p>
          <p><input class="text" type="text" name="name"></p>  
          <p><label for="name">Number of attempts</label></p>
          <p><input class="text" type="text" name="attempt_count"></p>
          <p><input class="button" type="submit" value="Start"></p>
        </form>  
      </div>
    </div>
    <%= render "shared/scores.html.erb" %> 
  </body>
</html>