<div id = "scores">
  <h1>Scores</h1>
  <ol>
  <% get_scores.sort_by{ |h| h[:score] }.reverse.each do |record| %>
    <li><%= "#{record[:name]} - #{record[:score]}" %></li>
  <% end %>
  </ol>
</div>
